@model Infraestructure.Model.Trabajo

@{
    ViewBag.Title = "Finalizar";
}

<style>
    a {
        text-decoration: none;
    }
</style>


<div class="container">
    <h1 class="text-center mb-4">@ViewBag.Title</h1>
    @using (Html.BeginForm("Save", "Home", FormMethod.Post, new { enctype = "multipart/form-data", @class = "col-md-8 offset-md-2" }))
    {
        @Html.AntiForgeryToken()
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="text-center">Finalizar Tareas</h5>
                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.ID_TAREA)
                                </div>

                                <div class="form-group mb-4 position-relative d-flex align-items-center" style="padding-right: 30px;" data-toggle="modal" data-target="#exampleModal">
                                    <label for="ID_ESTADO_TAREA" style="color: rgb(39, 58, 93)">
                                        <i class="fas fa-plus-square" style="margin-right: 5px"></i> Estado de la Tarea
                                    </label>
                                    @Html.DropDownListFor(model => model.ID_ESTADO_TAREA, null, htmlAttributes: new { @class = "form-control" })
                                    <a href="#" class="d-flex align-items-center justify-content-center position-absolute end-0 top-50 translate-middle-y text-success" style="right: -20px; margin-bottom: 3px; width: 30px; height: 30px; border-radius: 50%;">
                                        <span style="font-size: 1.2rem;">  <strong>+</strong></span>
                                    </a>
                                </div>

                                <div class="form-group mb-4">
                                    <label for="FECHA_TERMINADA" style="color: rgb(39, 58, 93)">
                                        Fecha Terminada
                                    </label>
                                    @Html.EditorFor(model => model.FECHA_TERMINADA, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                    <span class="position-absolute top-50 translate-middle-y end-0 me-2" onclick="$(this).prev().focus();"><i class="fas fa-calendar text-muted"></i></span>
                                    @Html.ValidationMessageFor(model => model.FECHA_TERMINADA, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                                    <a href="@Url.Action("IndexAll", "Home")" class="btn btn-danger">Cancelar</a>
                                </div>

                                <div class="form-group mb-4">
                                    <label for="TITULO" class="control-label">


                                    </label>
                                    @Html.HiddenFor(model => model.TITULO, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TITULO, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group mb-4">
                                    <label for="DESCRIPCION" class="control-label">


                                    </label>
                                    @Html.HiddenFor(model => model.DESCRIPCION, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.DESCRIPCION, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group mb-4">
                                    <label for="FECHA_CREACION" style="color: rgb(39, 58, 93)">

                                    </label>
                                    @Html.HiddenFor(model => model.FECHA_REGISTRO, new { htmlAttributes = new { @class = "form-control datepicker" } })

                                    @Html.ValidationMessageFor(model => model.FECHA_REGISTRO, "", new { @class = "text-danger" })
                                </div>



                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section scripts {    @Scripts.Render("~/bundles/jqueryval")

<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<script>
    $(() => {
        $(".datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            showAnim: "slideDown",
            theme: "base",
            themeRoller: {
                primary: "#333333",
                secondary: "#F5F5F5",
                text: "#333333",
                hover: "#F5F5F5",
                active: "#CCCCCC"
            }
        });
    });

    toggleCalendar = () => {
        var calendar = document.getElementById("calendar");
        if (calendar.style.display === "none") {
            calendar.style.display = "block";
        } else {
            calendar.style.display = "none";
        }
    }

    $(document).mouseup((e) => {
        var container = $("#calendar");
        if (!container.is(e.target) && container.has(e.target).length === 0) {
            container.hide();
        }
    });


</script>




}




